html {
    scroll-behavior: smooth; 
  }
.header {
    font: bold 14px Verdana, sans-serif;
    border: 5px double orangered;
    width: 1850px;
    height: 150px;
    background-color: rgba(255, 166, 0, 0.377);
}
.header {
    color: red;
}
.main {
    font: normal 12px Helvetica, sans-serif;
    border: 6px solid gainsboro;
    width: 1850px; 
    height: 1200px;
    background-color: wheat;
}
.footer {
    font: italic 18px Verdana, sans-serif;
    border: dashed 6px olivedrab;
    width: 1850px;
    height: 100px;
    background-color: lightgray;
}
.body {
    min-height: 100vh;
    min-width: 320px;
    margin: 0 auto; 
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 1800px;
 }
/*.container {
    max-width: 1440px;
    margin: 0 auto;
}*/
.nav-list {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    list-style: none;
    padding: 75px 30px 10px 500px;
}
.nav-link {
    padding: 0 10px;
    line-height: 50px;
    color: brown;
    text-decoration: none;
    font-size: 16px;
    transition: .3s;
}
.main-container {
    display: flex;
    flex-wrap: wrap;
}
.section {
    width: 50%;
}
@media (max-width: 768px) {
    .section {
      width: 100%;
    }
}
#profile {
    font-size: 26px;
    font-weight: 400;
    color:blueviolet;
    line-height: 1.5;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-align: center;
}
.section-title {
    font-size: 26px;
    font-weight: bold;
    line-height: 1.5;
    letter-spacing: 3px;
    text-align: left;
    text-decoration: underline;
    color: royalblue;
    padding-left: 40px; 
}
.nav-item a {
    color: #4d2323;
    text-decoration: none;  
    transition: color 0.3s;
}
.nav-item a:hover {
    color: #9cdf1f; 
}
.contacts {
    font-size: 20px;
    font-weight: normal;
    line-height: 1.5;
    letter-spacing: 1px;
    text-align: left;
    text-decoration: none;
    color: rgb(150, 7, 126)
}
.about_me {
    font-size: 16px;
    font-weight: normal;
    line-height: 1.3;
    letter-spacing: 1px;
    text-align: left;
    text-decoration: none;
    padding-left: 20px; 
    color: rgb(150, 7, 126);
}
.skills {
    font-size: 16px;
    font-weight: normal;
    line-height: 1.3;
    letter-spacing: 1px;
    text-align: left;
    text-decoration: none;
    padding-left: 10px; 
    color: rgb(150, 7, 126); 
}
.code {
    font-size: 16px;
    font-weight: normal;
    line-height: 1.3;
    letter-spacing: none;
    text-align: left;
    text-decoration: none;
    color: rgb(150, 7, 126);
    padding-left: 20px;  
}
.work_experience-item {
    font-size: 20px;
    font-weight: bold;
    line-height: 1.5;
    letter-spacing: 1px;
    text-align: left;
    text-decoration: none;
    color: rgb(236, 42, 8); 
    transition: .3s;
    padding-left: 10px; 
}
.work_experience-item a {
    color: rgb(236, 42, 8);
    text-decoration: none;  
    transition: underline 5s;
    transition: color 1.5s;
}
.work_experience-item a:hover {
    color: grey; 
    text-decoration: underline;
}
.education {
    font-size: 16px;
    font-weight: normal;
    line-height: 1.3;
    letter-spacing: none;
    text-align: left;
    text-decoration: none;
    color: rgb(150, 7, 126);
    padding-left: 20px;  
}   
.level {
    font-size: 20px;
    font-weight: bold;
    line-height: 1.3;
    letter-spacing: none;
    text-align: left;
    text-decoration: none;
    color: rgb(150, 7, 126);
    padding-left: 10px;   
}
.footer-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    color: rgb(15, 15, 15);
    justify-content: space-between;
    font-size: 20px;
    font-weight: bold;
    padding-top: 20px;
    padding-left: 40px;
    text-align: center;
}
.nav-link2 {
    padding: 0 10px;
    line-height: 50px;
    color: brown;
    text-decoration: none;
    font-size: 22px;
    transition: .3s;
}
.rss {
        width: 121px;
        height: 45px;
        background-image: url(./assets/img/rs-logo.png);
        background-size: contain;
        background-repeat: no-repeat;
        padding-right: 30px;
}

